{
  {% if provider_found is defined and provider_found %}
  "action": "edit",
  {% else %}
  "type": "ManageIQ::Providers::Openshift::ContainerManager",
  {% endif %}
  "name": "{{ provider_ocp_container_provider_name }}",
  "connection_configurations": [
  {
     "endpoint": {
        "role": "default",
        "hostname": "{{ provider_ocp_master_host }}",
        "security_protocol": "ssl-without-validation",
        "port": {{ provider_ocp_master_port }}
     },
     "authentication": {
        "role": "bearer",
        "auth_key": "{{ provider_ocp_token }}"
     }
  },
  {
    "endpoint": {
      "role": "hawkular",
      "hostname": "{{ provider_ocp_hawkular_host }}",
      "security_protocol": "ssl-without-validation",
      "port": 443
    },
    "authentication": {
      "role": "hawkular",
      "auth_key": "{{ provider_ocp_hawkular_token }}"
     }
   }]
}